---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1428249267'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.moondragon; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":23901941,"name":"spaarti","full_name":"akerl/spaarti","owner":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?v=3","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/akerl/spaarti","description":"Tool to maintain local clones of repos you have access to on GitHub","fork":false,"url":"https://api.github.com/repos/akerl/spaarti","forks_url":"https://api.github.com/repos/akerl/spaarti/forks","keys_url":"https://api.github.com/repos/akerl/spaarti/keys{/key_id}","collaborators_url":"https://api.github.com/repos/akerl/spaarti/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/akerl/spaarti/teams","hooks_url":"https://api.github.com/repos/akerl/spaarti/hooks","issue_events_url":"https://api.github.com/repos/akerl/spaarti/issues/events{/number}","events_url":"https://api.github.com/repos/akerl/spaarti/events","assignees_url":"https://api.github.com/repos/akerl/spaarti/assignees{/user}","branches_url":"https://api.github.com/repos/akerl/spaarti/branches{/branch}","tags_url":"https://api.github.com/repos/akerl/spaarti/tags","blobs_url":"https://api.github.com/repos/akerl/spaarti/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/akerl/spaarti/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/akerl/spaarti/git/refs{/sha}","trees_url":"https://api.github.com/repos/akerl/spaarti/git/trees{/sha}","statuses_url":"https://api.github.com/repos/akerl/spaarti/statuses/{sha}","languages_url":"https://api.github.com/repos/akerl/spaarti/languages","stargazers_url":"https://api.github.com/repos/akerl/spaarti/stargazers","contributors_url":"https://api.github.com/repos/akerl/spaarti/contributors","subscribers_url":"https://api.github.com/repos/akerl/spaarti/subscribers","subscription_url":"https://api.github.com/repos/akerl/spaarti/subscription","commits_url":"https://api.github.com/repos/akerl/spaarti/commits{/sha}","git_commits_url":"https://api.github.com/repos/akerl/spaarti/git/commits{/sha}","comments_url":"https://api.github.com/repos/akerl/spaarti/comments{/number}","issue_comment_url":"https://api.github.com/repos/akerl/spaarti/issues/comments{/number}","contents_url":"https://api.github.com/repos/akerl/spaarti/contents/{+path}","compare_url":"https://api.github.com/repos/akerl/spaarti/compare/{base}...{head}","merges_url":"https://api.github.com/repos/akerl/spaarti/merges","archive_url":"https://api.github.com/repos/akerl/spaarti/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/akerl/spaarti/downloads","issues_url":"https://api.github.com/repos/akerl/spaarti/issues{/number}","pulls_url":"https://api.github.com/repos/akerl/spaarti/pulls{/number}","milestones_url":"https://api.github.com/repos/akerl/spaarti/milestones{/number}","notifications_url":"https://api.github.com/repos/akerl/spaarti/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/akerl/spaarti/labels{/name}","releases_url":"https://api.github.com/repos/akerl/spaarti/releases{/id}","created_at":"2014-09-11T03:05:28Z","updated_at":"2015-04-05T14:20:01Z","pushed_at":"2015-04-05T14:20:00Z","git_url":"git://github.com/akerl/spaarti.git","ssh_url":"git@github.com:akerl/spaarti.git","clone_url":"https://github.com/akerl/spaarti.git","svn_url":"https://github.com/akerl/spaarti","homepage":"","size":364,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Sun, 05 Apr 2015 14:56:23 GMT
recorded_with: VCR 2.9.3
