---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1428249267'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.moondragon; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7009885,"name":"dotfiles","full_name":"akerl/dotfiles","owner":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?v=3","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/akerl/dotfiles","description":"Personal
        system environment","fork":false,"url":"https://api.github.com/repos/akerl/dotfiles","forks_url":"https://api.github.com/repos/akerl/dotfiles/forks","keys_url":"https://api.github.com/repos/akerl/dotfiles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/akerl/dotfiles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/akerl/dotfiles/teams","hooks_url":"https://api.github.com/repos/akerl/dotfiles/hooks","issue_events_url":"https://api.github.com/repos/akerl/dotfiles/issues/events{/number}","events_url":"https://api.github.com/repos/akerl/dotfiles/events","assignees_url":"https://api.github.com/repos/akerl/dotfiles/assignees{/user}","branches_url":"https://api.github.com/repos/akerl/dotfiles/branches{/branch}","tags_url":"https://api.github.com/repos/akerl/dotfiles/tags","blobs_url":"https://api.github.com/repos/akerl/dotfiles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/akerl/dotfiles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/akerl/dotfiles/git/refs{/sha}","trees_url":"https://api.github.com/repos/akerl/dotfiles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/akerl/dotfiles/statuses/{sha}","languages_url":"https://api.github.com/repos/akerl/dotfiles/languages","stargazers_url":"https://api.github.com/repos/akerl/dotfiles/stargazers","contributors_url":"https://api.github.com/repos/akerl/dotfiles/contributors","subscribers_url":"https://api.github.com/repos/akerl/dotfiles/subscribers","subscription_url":"https://api.github.com/repos/akerl/dotfiles/subscription","commits_url":"https://api.github.com/repos/akerl/dotfiles/commits{/sha}","git_commits_url":"https://api.github.com/repos/akerl/dotfiles/git/commits{/sha}","comments_url":"https://api.github.com/repos/akerl/dotfiles/comments{/number}","issue_comment_url":"https://api.github.com/repos/akerl/dotfiles/issues/comments{/number}","contents_url":"https://api.github.com/repos/akerl/dotfiles/contents/{+path}","compare_url":"https://api.github.com/repos/akerl/dotfiles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/akerl/dotfiles/merges","archive_url":"https://api.github.com/repos/akerl/dotfiles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/akerl/dotfiles/downloads","issues_url":"https://api.github.com/repos/akerl/dotfiles/issues{/number}","pulls_url":"https://api.github.com/repos/akerl/dotfiles/pulls{/number}","milestones_url":"https://api.github.com/repos/akerl/dotfiles/milestones{/number}","notifications_url":"https://api.github.com/repos/akerl/dotfiles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/akerl/dotfiles/labels{/name}","releases_url":"https://api.github.com/repos/akerl/dotfiles/releases{/id}","created_at":"2012-12-05T01:10:05Z","updated_at":"2015-04-04T21:33:43Z","pushed_at":"2015-04-04T21:33:43Z","git_url":"git://github.com/akerl/dotfiles.git","ssh_url":"git@github.com:akerl/dotfiles.git","clone_url":"https://github.com/akerl/dotfiles.git","svn_url":"https://github.com/akerl/dotfiles","homepage":null,"size":1312,"stargazers_count":0,"watchers_count":0,"language":"VimL","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":6173218,"name":"get-hyped","full_name":"akerl/get-hyped","owner":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?v=3","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://ap[...]
- request:
    method: get
    uri: https://api.github.com/repositories/6173218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1428249267'
      Last-Modified:
      - Tue, 09 Jul 2013 19:13:50 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.moondragon; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":6173218,"name":"get-hyped","full_name":"akerl/get-hyped","owner":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?v=3","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl",[...]
